.profile__edit-avatar {
  background-image: url("../../../images/edit-avatar.svg");
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  opacity: 0;
  cursor: pointer;
  position: relative;
  top: -71px;
  left: 49px;
  outline: none;
}

.profile__edit-avatar:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

@media screen and (max-width: 1050px) {
  .profile__edit-avatar {
    margin: 0 auto;
    padding-bottom: 14px;
  }
}
